src/main/resources/vag_trafikinformation/TravelTimeRoute_v1.5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation xml:lang="sv">Restider i större städer eller i högbelastade trafiksystem. Beräkning av restid baseras på data från detektorer som är utplacerade längs bestämda rutter.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation xml:lang="sv">
Förändringslogg
Följande element byter typ från int till float:
ExpectedFreeFlowTravelTime
FreeFlowTravelTime
Length
TravelTime
</xs:documentation>
  </xs:annotation>
  <xs:element name="RESPONSE" type="RESPONSE" />
  <xs:complexType name="RESPONSE">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="RESULT" type="RESULT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RESULT">
    <xs:sequence>
      <xs:element name="TravelTimeRoute" type="TravelTimeRoute" minOccurs="0" maxOccurs="unbounded" />
      <xs:element minOccurs="0" name="ERROR" type="ERROR" />
      <xs:element minOccurs="0" name="INFO" type="INFO" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="ERROR">
    <xs:sequence>
      <xs:element name="SOURCE" type="xs:string" minOccurs="0" />
      <xs:element name="MESSAGE" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LASTMODIFIED">
    <xs:attribute name="datetime" type="xs:dateTime" use="optional" />
  </xs:complexType>
  <xs:complexType name="EVALRESULT">
    <xs:sequence>
      <xs:any minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INFO">
    <xs:sequence>
      <xs:element name="LASTMODIFIED" type="LASTMODIFIED" minOccurs="0" />
      <xs:element name="LASTCHANGEID" type="xs:string" minOccurs="0" />
      <xs:element name="EVALRESULT" type="EVALRESULT" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="SSEURL" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelTimeRoute">
    <xs:sequence>
      <xs:element name="AverageFunctionalRoadClass" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Genomsnittlig funktionell vägklass för sträckan.<br />
              En klassificering 0-9 baserad på hur viktig en väg är för det totala vägnätets förbindelsemöjligheter.<br />
              0 - De viktigaste vägarna<br />
              9 - De minst viktiga vägarna
            </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="CountyNo" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            <div class="toggleTitle">Länsnummer</div>
            <div class="toggle arrowR"></div>
            <div class="toggleContent">
              <table class="table table-condensed">
                <tr>
                  <td>1</td>
                  <td>Stockholms län</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                      DEPRECATED<br /> Användes tidigare för Stockholms län
                    </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Uppsala län</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Södermanlands län</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Östergötlands län</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Jönköpings län</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Kronobergs län</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Kalmar län</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Gotlands län</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Blekinge län</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Skåne län</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>Hallands län</td>
                </tr>
                <tr>
                  <td>14</td>
                  <td>Västra Götalands län</td>
                </tr>
                <tr>
                  <td>17</td>
                  <td>Värmlands län</td>
                </tr>
                <tr>
                  <td>18</td>
                  <td>Örebro län</td>
                </tr>
                <tr>
                  <td>19</td>
                  <td>Västmanlands län</td>
                </tr>
                <tr>
                  <td>20</td>
                  <td>Dalarnas län</td>
                </tr>
                <tr>
                  <td>21</td>
                  <td>Gävleborgs län</td>
                </tr>
                <tr>
                  <td>22</td>
                  <td>Västernorrlands län</td>
                </tr>
                <tr>
                  <td>23</td>
                  <td>Jämtlands län</td>
                </tr>
                <tr>
                  <td>24</td>
                  <td>Västerbottens län</td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>Norrbottens län</td>
                </tr>
              </table>
            </div>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Landskod</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Deleted" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger att dataposten raderats</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExpectedFreeFlowTravelTime" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger normal restid i sekunder för sträckan vid skyltad hastighet baserat på historiskt data</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FreeFlowTravelTime" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger normal restid i sekunder för sträckan vid skyltad hastighet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Geometry" type="Geometry" minOccurs="0" />
      <xs:element name="Id" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger id för sträckan</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Length" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger längden i meter för sträckan</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasureTime" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Tidpunkt då mätningen av restiden gjordes. Det är slutet på tidsperioden som skickas från källsystemet</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ModifiedTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Tidpunkt då dataposten ändrades</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger namnet på sträckan</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RouteOwner" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            <div class="toggleTitle">Ruttägare</div>
            <div class="toggle arrowR"></div>
            <div class="toggleContent">
              <table class="table table-condensed">
                <tr>
                  <td>1</td>
                  <td>Trafiken.nu</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                      Ums
                    </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Pendlingsstråk</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Trafikverket</td>
                </tr>
              </table>
            </div>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Speed" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger hastighet i km/h</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrafficStatus" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            <div class="toggleTitle">Anger restidsstatus för sträckan</div>
            <div class="toggle arrowR"></div>
            <div class="toggleContent">
                freeflow - fri framkomlighet<br />
                heavy - svår framkomlighet<br />
                congested - mycket svår framkomlighet<br />
                impossible - framkomlighet omöjlig<br />
                unknown - framkomlighet okänd
              </div>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TravelTime" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger aktuell restid i sekunder för sträckan</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Geometry">
    <xs:sequence>
      <xs:element name="SWEREF99TM" type="WKT_SWEREF99TM" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Geometrisk linje i koordinatsystem SWEREF99TM</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WGS84" type="WKT_WGS84" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Geometrisk linje i koordinatsystem WGS84</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ModifiedTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Tidpunkt då elementet ändrades</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="WKT_SWEREF99TM">
    <xs:restriction base="xs:string">
      <xs:pattern value="POINT\s?\((\d+(\.\d+)?(\s|\))){2}|LINESTRING\s?\(((,\s?)?((\d+(\.\d+)?)\s?){2}){2,}\)|MULTILINESTRING\s?\(\s?((,\s?)?\(((,\s)?((\d+(\.\d+)?)\s?){2}){2,}\)){2,}\s?\)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WKT_WGS84">
    <xs:restriction base="xs:string">
      <xs:pattern value="POINT\s?\((\d+(\.\d+)?(\s|\))){2}|LINESTRING\s?\(((,\s?)?((\d+(\.\d+)?)\s?){2}){2,}\)|MULTILINESTRING\s?\(\s?((,\s?)?\(((,\s)?((\d+(\.\d+)?)\s?){2}){2,}\)){2,}\s?\)" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>