src/main/resources/vag_trafikinformation/WeatherStation_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation xml:lang="sv">Väderstationer med mätdata.</xs:documentation>
  </xs:annotation>
  <xs:element name="RESPONSE" type="RESPONSE" />
  <xs:complexType name="RESPONSE">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="RESULT" type="RESULT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RESULT">
    <xs:sequence>
      <xs:element name="WeatherStation" type="WeatherStation" minOccurs="0" maxOccurs="unbounded" />
      <xs:element minOccurs="0" name="ERROR" type="ERROR" />
      <xs:element minOccurs="0" name="INFO" type="INFO" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="ERROR">
    <xs:sequence>
      <xs:element name="SOURCE" type="xs:string" minOccurs="0" />
      <xs:element name="MESSAGE" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LASTMODIFIED">
    <xs:attribute name="datetime" type="xs:dateTime" use="optional" />
  </xs:complexType>
  <xs:complexType name="EVALRESULT">
    <xs:sequence>
      <xs:any minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INFO">
    <xs:sequence>
      <xs:element name="LASTMODIFIED" type="LASTMODIFIED" minOccurs="0" />
      <xs:element name="LASTCHANGEID" type="xs:string" minOccurs="0" />
      <xs:element name="EVALRESULT" type="EVALRESULT" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="SSEURL" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WeatherStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger att mätstationen är aktiv och levererar mätdata</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="CountyNo" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            <div class="toggleTitle">Länsnummer</div>
            <div class="toggle arrowR"></div>
            <div class="toggleContent">
              <table class="table table-condensed">
                <tr>
                  <td>1</td>
                  <td>Stockholms län</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                      DEPRECATED<br /> Användes tidigare för Stockholms län
                    </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Uppsala län</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Södermanlands län</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Östergötlands län</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Jönköpings län</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Kronobergs län</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Kalmar län</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Gotlands län</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Blekinge län</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Skåne län</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>Hallands län</td>
                </tr>
                <tr>
                  <td>14</td>
                  <td>Västra Götalands län</td>
                </tr>
                <tr>
                  <td>17</td>
                  <td>Värmlands län</td>
                </tr>
                <tr>
                  <td>18</td>
                  <td>Örebro län</td>
                </tr>
                <tr>
                  <td>19</td>
                  <td>Västmanlands län</td>
                </tr>
                <tr>
                  <td>20</td>
                  <td>Dalarnas län</td>
                </tr>
                <tr>
                  <td>21</td>
                  <td>Gävleborgs län</td>
                </tr>
                <tr>
                  <td>22</td>
                  <td>Västernorrlands län</td>
                </tr>
                <tr>
                  <td>23</td>
                  <td>Jämtlands län</td>
                </tr>
                <tr>
                  <td>24</td>
                  <td>Västerbottens län</td>
                </tr>
                <tr>
                  <td>25</td>
                  <td>Norrbottens län</td>
                </tr>
              </table>
            </div>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger att dataposten raderats</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Geometry" type="Geometry" />
      <xs:element minOccurs="0" name="IconId" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Ikonid för mätstationen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Id" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Mätstationens id</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" name="Measurement" type="Measurement" minOccurs="0" />
      <xs:element maxOccurs="unbounded" name="MeasurementHistory" type="Measurement" minOccurs="0" />
      <xs:element minOccurs="0" name="ModifiedTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Tidpunkt då dataposten ändrades</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Mätstationens namn</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RoadNumberNumeric" type="xs:int" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Numeriskt vägnummer där mätstationen är placerad</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Geometry">
    <xs:sequence>
      <xs:element minOccurs="0" name="SWEREF99TM" type="WKT_SWEREF99TM">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Geometrisk punkt i koordinatsystem SWEREF99TM</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="WGS84" type="WKT_WGS84">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Geometrisk punkt i koordinatsystem WGS84</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Measurement">
    <xs:sequence>
      <xs:element name="MeasureTime" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Tidpunkt då mätvärdena uppdaterades</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Precipitation" type="Precipitation" />
      <xs:element minOccurs="0" maxOccurs="1" name="Road" type="Road" />
      <xs:element minOccurs="0" maxOccurs="1" name="Air" type="Air" />
      <xs:element minOccurs="0" maxOccurs="1" name="Wind" type="Wind" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="WKT_SWEREF99TM">
    <xs:restriction base="xs:string">
      <xs:pattern value="POINT\s?\((\d+(\.\d+)?(\s|\))){2}|LINESTRING\s?\(((,\s?)?((\d+(\.\d+)?)\s?){2}){2,}\)|MULTILINESTRING\s?\(\s?((,\s?)?\(((,\s)?((\d+(\.\d+)?)\s?){2}){2,}\)){2,}\s?\)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WKT_WGS84">
    <xs:restriction base="xs:string">
      <xs:pattern value="POINT\s?\((\d+(\.\d+)?(\s|\))){2}|LINESTRING\s?\(((,\s?)?((\d+(\.\d+)?)\s?){2}){2,}\)|MULTILINESTRING\s?\(\s?((,\s?)?\(((,\s)?((\d+(\.\d+)?)\s?){2}){2,}\)){2,}\s?\)" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Precipitation">
    <xs:sequence>
      <xs:element name="Amount" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Nederbördsmängd</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmountName" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            <div class="toggleTitle">I text beskriven nederbördsmängd</div>
            <div class="toggle arrowR"></div>
            <div class="toggleContent">
              <table class="table table-condensed">
                <tr>
                  <td>"Givare saknas/Fel på givare"</td>
                </tr>
                <tr>
                  <td>"Lätt regn"</td>
                </tr>
                <tr>
                  <td>"Måttligt regn"</td>
                </tr>
                <tr>
                  <td>"Kraftigt regn"</td>
                </tr>
                <tr>
                  <td>"Lätt snöblandat regn"</td>
                </tr>
                <tr>
                  <td>"Måttligt snöblandat regn"</td>
                </tr>
                <tr>
                  <td>"Kraftigt snöblandat regn"</td>
                </tr>
                <tr>
                  <td>"Lätt snöfall"</td>
                </tr>
                <tr></tr>
                <td>"Måttligt snöfall"</td>
                <tr>
                  <td>"Kraftigt snöfall"</td>
                </tr>
                <tr>
                  <td>"Annan nederbördstyp"</td>
                </tr>
                <tr>
                  <td>"Ingen nederbörd"</td>
                </tr>
                <tr>
                  <td>"Okänd nederbördstyp"</td>
                </tr>
              </table>
            </div>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            <div class="toggleTitle">Typ av nederbörd</div>
            <div class="toggle arrowR"></div>
            <div class="toggleContent">
              <table class="table table-condensed">
                <tr>
                  <td> "Duggregn"</td>
                </tr>
                <tr>
                  <td> "Hagel"</td>
                </tr>
                <tr>
                  <td> "Ingen nederbörd"</td>
                </tr>
                <tr>
                  <td> "Regn"</td>
                </tr>
                <tr>
                  <td> "Snö"</td>
                </tr>
                <tr>
                  <td> "Snöblandat regn"</td>
                </tr>
                <tr>
                  <td> "Underkylt regn"</td>
                </tr>
              </table>
            </div>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypeIconId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Ikonid för nederbördstyp</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Road">
    <xs:sequence>
      <xs:element name="Temp" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vägbanans temperatur</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TempIconId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
              Ikonid för vägbanans temperatur
            </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Air">
    <xs:sequence>
      <xs:element name="Temp" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Lufttemperatur</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TempIconId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
              Ikonid för lufttemperatur
            </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RelativeHumidity" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Relativ luftfuktighet</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Wind">
    <xs:sequence>
      <xs:element name="Direction" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vindriktning [grader]</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DirectionIconId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Ikonid för vindriktning</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DirectionText" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            <div class="toggleTitle">Vindriktning</div>
            <div class="toggle arrowR"></div>
            <div class="toggleContent">
                "Öst"<br />
                "Nordöst"<br />
                "Östsydöst"<br />
                "Norr"<br />
                "Nordnordöst"<br />
                "Nordnordväst"<br />
                "Nordväst"<br />
                "Söder"<br />
                "Sydöst"<br />
                "Sydsydväst"<br />
                "Sydväst"<br />
                "Väst"
              </div>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Force" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vindstyrka [m/s], medelvärde 10 minuter tillbaka</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ForceMax" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Vindstyrka [m/s], maxvärde 30 minuter tillbaka</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>