src/main/resources/vag_belaggningsinformation/MeasurementData20_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation xml:lang="sv">Mätdata per 20 meter. Data från vägytemätningar med laserscanning alternativt som beräknats fram baserat på dem. Mätningarna utförs årligen eller vartannat år beroende på trafikmängd. Senast gällande mätdata finns att hämta dvs ej historik. Källsystem är PMS-systemen.</xs:documentation>
  </xs:annotation>
  <xs:element name="RESPONSE" type="RESPONSE" />
  <xs:complexType name="RESPONSE">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="RESULT" type="RESULT" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RESULT">
    <xs:sequence>
      <xs:element name="MeasurementData20" type="MeasurementData20" minOccurs="0" maxOccurs="unbounded" />
      <xs:element minOccurs="0" name="ERROR" type="ERROR" />
      <xs:element minOccurs="0" name="INFO" type="INFO" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="ERROR">
    <xs:sequence>
      <xs:element name="SOURCE" type="xs:string" minOccurs="0" />
      <xs:element name="MESSAGE" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LASTMODIFIED">
    <xs:attribute name="datetime" type="xs:dateTime" use="optional" />
  </xs:complexType>
  <xs:complexType name="EVALRESULT">
    <xs:sequence>
      <xs:any minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="INFO">
    <xs:sequence>
      <xs:element name="LASTMODIFIED" type="LASTMODIFIED" minOccurs="0" />
      <xs:element name="LASTCHANGEID" type="xs:string" minOccurs="0" />
      <xs:element name="EVALRESULT" type="EVALRESULT" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="SSEURL" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementData20">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="County" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Län.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RoadMainNumber" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Huvudvägnummer.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RoadSubNumber" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Undervägnummer. Kallas ibland även punktväg. Måste användas ihop med huvudvägnumret.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Direction" type="Direction" />
      <xs:element minOccurs="1" maxOccurs="1" name="Lane" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Körfält. Räknas från höger sida och startar med körfält 10. Nästa är 20 och kan gå upp till 50.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="StartContinuousLength" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Start löpande längd. Anges i meter. Starten för aktuell data angivet i antal meter från vägnumrets start inom det länet, i aktuell riktning.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="EndContinuousLength" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Slut löpande längd. Anges i meter. Slutet för aktuell data angivet i antal meter från vägnumrets start inom det länet, i aktuell riktning.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Length" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Längd i antal meter.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MeasurementDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Mätdatum. Ett gemensamt datum för en hel mätperiod. Är detta datum som visas i graferna i PMSV3 Analysera sträcka.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MeasurementDateSpecific" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Mätdatum exakt. Det exakta mätdatumet för aktuellt mätdata.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MeasurementDataType" type="MeasurementDataType" />
      <xs:element minOccurs="1" maxOccurs="1" name="IRILeft" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            IRI vänster.  Enhet mm/m. IRI (International Roughness Index) Beräknat mått baserat på uppmätt längsprofil i vänster hjulspår. Avser jämnhet i längsled.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="IRIRight" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            IRI höger. Enhet mm/m. IRI (International Roughness Index) Beräknat mått baserat på uppmätt längsprofil i höger hjulspår. Avser jämnhet i längsled.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MeasurementVehicleSpeed" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Mätbilens hastighet.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Hilliness" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Backighet. Anges i %. Backighet är medellutningen för 20m väg i mätriktningen. Uppför har positivt tecken och utför negativt.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Curvature" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Kurvatur. Enhet 10000/r. Kurvatur beskriver medelvärdet av krökningsradien (r) över 20m.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="EdgeDepth" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Kantdjup. Enhet mm. Kantdjup avser att detektera skador närmast vägrenen. Mäts inte direkt av mätbil utan beräknas i efterbearbetning baserat på mätta 20m data om tvärprofil. (se VTI Rapport 718)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MegatextureRight" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Megatextur höger. Enhet mm.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MegatextureLeft" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Megatextur vänster.  Enhet mm.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MPDMacrotextureRight" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            MPD Makrotextur höger. Enhet mm. Makrotextur beräknad som MPD (Mean Profile Depth beräknat enligt ISO 13473-1), beskriver vägytans 'skrovlighet' i våglängdsintervallet 0,5-50 mm.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MPDMacrotextureMiddle" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            MPD Makrotextur mellan. Enhet mm. Makrotextur beräknad som MPD (Mean Profile Depth beräknat enligt ISO 13473-1), beskriver vägytans 'skrovlighet' i våglängdsintervallet 0,5-50 mm.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MPDMacrotextureLeft" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            MPD Makrotextur vänster. Enhet mm. Makrotextur beräknad som MPD (Mean Profile Depth beräknat enligt ISO 13473-1), beskriver vägytans 'skrovlighet' i våglängdsintervallet 0,5-50 mm.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RutArea" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Spårarea. Enhet dm2. Mått för deformation i tvärled, komplement till spårdjup max. Mäts inte direkt av mätbil utan beräknas i efterbearbetning baserat på mätta 20m data om tvärprofil. (se VTI Rapport 718)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RutBottomDistance" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Spårbottenavstånd. Enhet mm. Avstånd mellan de djupaste spåren i vänster resp höger del av tvärprofilen. Mäts inte direkt av mätbil utan beräknas i efterbearbetning baserat på mätta 20m data om tvärprofil. (se VTI Rapport 718)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RutWidthRight" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Spårbredd höger. Enhet mm. Höger hjulspårs bredd. Mäts inte direkt av mätbil utan beräknas i efterbearbetning baserat på mätta 20m data om tvärprofil. (se VTI Rapport 718)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RutWidthLeft" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Spårbredd vänster. Enhet mm. Vänster hjulspårs bredd. Mäts inte direkt av mätbil utan beräknas i efterbearbetning baserat på mätta 20m data om tvärprofil. (se VTI Rapport 718)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RutDepthRight15" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Spårdjup höger15. Enhet mm. 15 lasrar.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RutDepthRight17" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Spårdjup höger17. Enhet mm. 17 lasrar.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RutDepthMax15" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Spårdjup max15. Maxvärde 15 lasrar.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RutDepthMax17" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Spårdjup max17. Maxvärde 17 lasrar.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RutDepthLeft17" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Spårdjup vänster17. Enhet mm. 17 lasrar.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="CrossfallRutBottom" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Spårbottentvärfall. Enhet %.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="WaterArea" type="xs:double">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Vattenarea. Enhet dm2. Mått för deformation i tvärled, komplement till spårdjup max. Mäts inte direkt av mätbil utan beräknas i efterbearbetning baserat på mätta 20m data om tvärprofil. (se VTI Rapport 718)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Datum för när mätdata hämtades ut från källsystemen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ModifiedTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Tidpunkt då dataposten ändrades</xs:documentation>
          <xs:documentation xml:lang="en">Time when the data item was changed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean">
        <xs:annotation>
          <xs:documentation xml:lang="sv">Anger att dataposten raderats</xs:documentation>
          <xs:documentation xml:lang="en">Indicates that the data record has been deleted</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Direction">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Code" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Riktning. Värde.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Riktning. Beskrivning.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementDataType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Code" type="xs:int">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Mätdatatyp. Värde.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Mätdatatyp. Beskrivning.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>